<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#f9f9f9" />
    <meta name="author" content="{{ $.Site.Params.author }}" />
    <meta name="keywords" content="{{ $.Site.Params.keywords }}" />
    <meta name="description" content="{{ $.Site.Params.description }}" />
    {{ if $.Site.Params.seo.baiduSiteVer }}
    <meta name="baidu-site-verification" content="{{ $.Site.Params.seo.baiduSiteVer }}" />
    {{ end }}

    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ $.Site.Params.images.favicon }}" />

    {{ $iconfont := resources.Get "css/iconfont-3.03029.1.css" | resources.Minify | fingerprint}}
    {{ $customStyle := resources.Get "css/custom-style.css" | resources.Minify | fingerprint}}
    {{ $blockLibrary := resources.Get "css/block-library.min-5.6.2.css" | resources.Minify | fingerprint}}
    {{ $bootstrap := resources.Get "css/bootstrap.min-4.3.1.css" | resources.Minify | fingerprint}}
    {{ $fancybox := resources.Get "css/fancybox.min-3.5.7.css" | resources.Minify | fingerprint}}
    {{ $style := resources.Get "css/style-3.03029.1.css" | resources.Minify | fingerprint}}
    {{ $fontawesome := resources.Get "css/fontawesome.all.min.css" | resources.Minify | fingerprint}}

    <link rel="stylesheet" id="iconfont-css" href="{{ $iconfont.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="custom-style" href="{{ $customStyle.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="block-library-css" href="{{ $blockLibrary.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="bootstrap-css" href="{{ $bootstrap.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="fancybox-css" href="{{ $fancybox.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="iowen-css" href="{{ $style.RelPermalink }}" type="text/css" media="all" />
    <link rel="stylesheet" id="fontawesome-css" href="{{ $fontawesome.RelPermalink }}" type="text/css" />

    <!-- fontawesome 因为原主题部分图标无法引用 所以重新引用了个js版（可以直接到官网申请） -->
    <script src="https://kit.fontawesome.com/8dbd36e300.js" crossorigin="anonymous"></script>

    {{ $jquery := resources.Get "js/jquery.min-3.2.1.js" | resources.Minify | fingerprint}}
    {{ $contentSearch := resources.Get "js/content-search.js" | resources.Minify | fingerprint}}

    <script type="text/javascript" src="{{ $jquery.RelPermalink }}" id="jquery-js"></script>
    <script type="text/javascript" src="{{ $contentSearch.RelPermalink }}"  id="content-search-js"></script>

    <!-- 百度统计 -->
    {{ with .Site.Params.seo.baiduhmid }}
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script")
            hm.src = "https://hm.baidu.com/hm.js?{{ $.Site.Params.seo.baiduhmid }}"
            var s = document.getElementsByTagName("script")[0]
            s.parentNode.insertBefore(hm, s)
        })()
    </script>
    {{ end }}
    <!-- end 百度统计 -->
    <!-- 51.LA 网站统计 -->
    {{ with .Site.Params.seo.tj51laid }}
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id:"{{ $.Site.Params.seo.tj51laid }}",ck:"{{ $.Site.Params.seo.tj51lack }}"})</script>    
    {{ end }} 
    <!-- end 51.LA 网站统计 -->
    <!-- 鼠标样式 -->
    <style>
        * {
            cursor: url("{{ relURL "https://cdn.jsdelivr.net/gh/i-kirito/halo-theme-xazz/templates/assets//plugins/cursor/simple/pointer.cur" }}"), auto;
        }
        div {
            cursor: url("{{ relURL "https://cdn.jsdelivr.net/gh/i-kirito/halo-theme-xazz/templates/assets//plugins/cursor/simple/default.cur" }}"), auto;
        }
    </style>
</head>
