<div id="content" class="content-site customize-site">

    <div class="flex-fill" style="padding-bottom: 10px;">
        <h4 class="text-gray text-lg mb-4" id="hot_news">
            <i class="fas fa-search-dollar site-tag mr-1"></i>最新文章/视频
        </h4>
        <div class="flex-fill">
            <div id="lytoday">
                <div class="hot-panel">
                    <div class="hot-card">
                        <div class="hot-head">
                            <img src="https://tool.lifeka.com/templates/admin/img/bilibili.png"><span class="hot-title">哔哩哔哩</span><span class="hot-unit">作者</span>
                        </div>
                        <div class="hot-body">
                            <ul class="hot-table">
                                <li class="hot-list">
                                    <span class="hot-index">1</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某建筑webpack逆向分析</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">2</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某Q音乐VMP纯算</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">3</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">某验反爬滑块逆向分析</a><span class="hot-rank">gouzi123</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">4</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向系列】某乎__zse_ck参数js与wasm多重套娃地狱级（左篇）</a><span class="hot-rank">漁滒</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">5</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">利用 ast 解混淆某东 h5st js 文件并进行参数分析</a><span class="hot-rank">kylin1020</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">6</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">拦截 Chrome DevTools Protocol 实现忽略与自定义 debugger</a><span class="hot-rank">LoveCode</span>
                                </li>
                            </ul>
                        </div>
                        <div class="hot-footer"><span class="hot-time">最近视频：2024.11.21 12:33</span></div>
                    </div>
                    <div class="hot-card">
                        <div class="hot-head">
                            <img src="https://tool.lifeka.com/templates/admin/img/bilibili.png"><span class="hot-title">公众号</span><span class="hot-unit">作者</span>
                        </div>
                        <div class="hot-body">
                            <ul class="hot-table">
                                <li class="hot-list">
                                    <span class="hot-index">1</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某建筑webpack逆向分析</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">2</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某Q音乐VMP纯算</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">3</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">某验反爬滑块逆向分析</a><span class="hot-rank">gouzi123</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">4</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向系列】某乎__zse_ck参数js与wasm多重套娃地狱级（左篇）</a><span class="hot-rank">漁滒</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">5</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">利用 ast 解混淆某东 h5st js 文件并进行参数分析</a><span class="hot-rank">kylin1020</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">6</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">拦截 Chrome DevTools Protocol 实现忽略与自定义 debugger</a><span class="hot-rank">LoveCode</span>
                                </li>
                            </ul>
                        </div>
                        <div class="hot-footer"><span class="hot-time">最近文章：2024.11.21 12:33</span></div>
                    </div>
                    <div class="hot-card">
                        <div class="hot-head">
                            <img src="https://tool.lifeka.com/templates/admin/img/bilibili.png"><span class="hot-title">吾爱破解</span><span class="hot-unit">作者</span>
                        </div>
                        <div class="hot-body">
                            <ul class="hot-table">
                                <li class="hot-list">
                                    <span class="hot-index">1</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某建筑webpack逆向分析</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">2</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某Q音乐VMP纯算</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">3</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">某验反爬滑块逆向分析</a><span class="hot-rank">gouzi123</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">4</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向系列】某乎__zse_ck参数js与wasm多重套娃地狱级（左篇）</a><span class="hot-rank">漁滒</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">5</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">利用 ast 解混淆某东 h5st js 文件并进行参数分析</a><span class="hot-rank">kylin1020</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">6</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">拦截 Chrome DevTools Protocol 实现忽略与自定义 debugger</a><span class="hot-rank">LoveCode</span>
                                </li>
                            </ul>
                        </div>
                        <div class="hot-footer"><span class="hot-time">最近文章：2024.11.21 01:33</span></div>
                    </div>
                    <div class="hot-card">
                        <div class="hot-head">
                            <img src="https://tool.lifeka.com/templates/admin/img/bilibili.png"><span class="hot-title">CSDN/博客园/其他</span><span class="hot-unit">作者</span>
                        </div>
                        <div class="hot-body">
                            <ul class="hot-table">
                                <li class="hot-list">
                                    <span class="hot-index">1</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某建筑webpack逆向分析</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">2</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向】某Q音乐VMP纯算</a><span class="hot-rank">littlewhite11</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">3</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">某验反爬滑块逆向分析</a><span class="hot-rank">gouzi123</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">4</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">【JS逆向系列】某乎__zse_ck参数js与wasm多重套娃地狱级（左篇）</a><span class="hot-rank">漁滒</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">5</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">利用 ast 解混淆某东 h5st js 文件并进行参数分析</a><span class="hot-rank">kylin1020</span>
                                </li>
                                <li class="hot-list">
                                    <span class="hot-index">6</span>
                                    <a href="https://www.52pojie.cn/thread-1983924-1-1.html" title="" target="_blank">拦截 Chrome DevTools Protocol 实现忽略与自定义 debugger</a><span class="hot-rank">LoveCode</span>
                                </li>
                            </ul>
                        </div>
                        <div class="hot-footer"><span class="hot-time">最近文章：2024.11.21 12:33</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 广告赞助 -->
    {{ range .Site.Data.advertisement }}
    {{ if .links }}
        <div class="d-flex flex-fill">
            <h4 class="text-gray text-lg mb-4">
                <i class="fas fa-search-dollar site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
                {{ .taxonomy }}
            </h4>
        </div>
        <div class="row">
            {{ range .links }}
                <div class="col-md-6">
                    <div class="card">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank" data-url="{{ .url }}">
                            <img src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .image }}" class="card-img-top" alt="{{ .description }}">
                        </a>
                        {{ else }}
                            <img src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .image }}" class="card-img-top" alt="{{ .description }}">
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
        <br />
    {{ end }}
    {{ end }}

    {{ range .Site.Data.webstack }}
    {{ if .list }}
    {{ range .list }}
    <!--正文网址导航-->
    <!-- {{ .term }} -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .term }}"></i>
            {{ .term }}
        </h4>
        <div class="flex-fill"></div>
        <!--a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
                        <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			去除 Tooltip -->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                    data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                        data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}" alt="{{ .title }}">
                                    {{ else }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                        data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                        alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                        data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
            </div>
        </div>
        {{ end }}
    </div><!--end row-->
    <br />
    <!--END {{ .term }} -->
    {{ end }}
    {{ else }}
    <!-- 时间样式 -->    
    <!--主站推荐-->
    <!-- {{ .taxonomy }} -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
        <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
			<a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			-->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                    data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                        data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}"
                                            alt="{{ .title }}">
                                    {{ else }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                            data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                            alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                        data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
            </div>
        </div>
        {{ end }}
    </div>
    <br />
    <!--END {{ .taxonomy }} -->
    {{ end }}
    {{ end }}

    <h4 class="text-gray text-lg mb-4">
        <i class="fas fa-link mr-2" id="friendlink"></i>友情链接
    </h4>
    <div class="friendlink text-xs card">
        <div class="card-body">
            {{ range .Site.Data.friendlinks }}
            <a href="{{ .url }}" title="{{ .description }}" target="_blank">{{ .title }}</a>
            {{ end }}
        </div>
    </div>

</div>