<div id="content" class="content-site customize-site">

    <!-- 最新文章/视频 -->
    {{ if $.Site.Params.showArticle }}
        {{ range .Site.Data.articles }}
        {{ if .list }}
        <div class="d-flex flex-fill">
            <h4 class="text-gray text-lg mb-4">
                <i class="fas fa-list site-tag mr-1" id="{{ md5 .taxonomy }}"></i> {{ .taxonomy }}
            </h4>
        </div>
        <div class="flex-fill">
            <div id="lytoday">
                <div class="hot-panel">
                    {{ range .list }}
                    <div class="hot-card">
                        <div class="hot-head">
                            <img src="{{ with $.Site.Params.cdnURLPubilc }}{{ . }}{{ end }}{{ .logo }}"><span class="hot-title">{{ .term }}</span><span class="hot-unit">作者</span>
                        </div>
                        <div class="hot-body">
                            <ul class="hot-table">
                                {{ $index := 0 }} <!-- 初始化计数器 -->
                                {{ range .links }}
                                {{ $index = add $index 1 }} <!-- 计数器自增 -->
                                <li class="hot-list">
                                    <span class="hot-index">{{ $index }}</span>
                                    <a href="{{ .url }}" target="_blank">{{ .title }}</a>
                                    <span class="hot-rank" title="{{ .author }}">
                                    {{ if gt (len (findRE "[\u4e00-\u9fff]" .author)) 0 }}
                                        {{ if gt (len .author) 15 }}
                                            {{ printf "%s..." (substr .author 0 5) }}
                                        {{ else }}
                                            {{ .author }}
                                        {{ end }}
                                    {{ else }}
                                        {{ if gt (len .author) 10 }}
                                            {{ printf "%s..." (substr .author 0 10) }}
                                        {{ else }}
                                            {{ .author }}
                                        {{ end }}
                                    {{ end }}
                                    </span>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="hot-footer">
                            {{ $firstLink := index .links 0 }} <!-- 获取第一个链接的发布时间 -->
                            <span class="hot-time">最近{{ if eq .term "哔哩哔哩" }}视频{{ else }}文章{{ end }}：{{ $firstLink.release_time }}</span>
                        </div>
                    </div>

                    {{ end }}
                </div>
            </div>
        </div>
        <br />
        {{ end }}
        {{ end }}
    {{ end }}

    <!--主站推荐-->
    {{ range .Site.Data.recommend }}
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
        <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <div class="row">
        {{ range .links }}
            {{ if .ads }}
                <!-- 广告赞助 -->
                <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    {{ if .url }}
                    <a href="{{ .url }}" target="_blank" data-url="{{ .url }}">
                        <img src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .image }}" class="card-img-top" alt="{{ .description }}">
                    </a>
                    {{ else }}
                    <img src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .image }}" class="card-img-top" alt="{{ .description }}">
                    {{ end }}
                </div>
            </div>
            {{ else }}
                <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
                <div class="url-body default">
                    <!--去除 Tooltip
                <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
                -->
                    {{ if .qrcode }}
                    <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                       data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                        {{ else }}
                        <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                           data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                            {{ end }}
                            <div class="card-body">
                                <div class="url-content d-flex align-items-center">
                                    <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                        {{ if findRE "http.*?(.|\n)*?" .logo }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}"
                                             alt="{{ .title }}">
                                        {{ else }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                             data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                             alt="{{ .title }}">
                                        {{ end }}
                                    </div>
                                    <div class="url-info flex-fill">
                                        <div class="text-sm overflowClip_1">
                                            <strong>{{ .title }}</strong>
                                        </div>
                                        <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                           data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </a>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
    <br />
    {{ end }}

    {{ range .Site.Data.webstack }}
    {{ if .list }}
    {{ range .list }}
    <!--正文网址导航-->
    <!-- {{ .term }} -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .term }}"></i>
            {{ .term }}
        </h4>
        <div class="flex-fill"></div>
        <!--a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
                        <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			去除 Tooltip -->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                   data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                       data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}" alt="{{ .title }}">
                                    {{ else }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                         data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                       data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
            </div>
        </div>
        {{ end }}
    </div><!--end row-->
    <br />
    <!--END {{ .term }} -->
    {{ end }}
    {{ else }}
    <!-- 时间样式 -->
    <!--主站推荐-->
    <!-- {{ .taxonomy }} -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
        <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
			<a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			-->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                   data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                       data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ else }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                         data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                       data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                </a>
            </div>
        </div>
        {{ end }}
    </div>
    <br />
    {{ end }}
    {{ end }}

    <h4 class="text-gray text-lg mb-4">
        <i class="fas fa-link mr-2" id="friendlink"></i>友情链接
    </h4>
    <div class="friendlink text-xs card">
        <div class="card-body">
            {{ range .Site.Data.friendlinks }}
            <a href="{{ .url }}" title="{{ .description }}" target="_blank">{{ .title }}</a>
            {{ end }}
        </div>
    </div>

</div>
