<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m_type-kaifa" data-id="group-a">搜索</label>
                                <label for="m_type-github" data-id="group-b">社区</label>
                                <label for="m_type-web" data-id="group-c">API</label>
                                <label for="m_type-boss" data-id="group-d">求职</label>
                                <label for="m_type-taobao" data-id="group-e">购物</label>
                                <label for="m_type-douyin" data-id="group-f">娱乐</label>
                            </div>
                        </div>
                        <div class="search-group group-a"><span class="type-text text-muted">搜索</span>
                            <ul class="search-type">
                                <li><input checked="checked" hidden="" type="radio" name="type2" id="m_type-kaifa"
                                        value="https://kaifa.baidu.com/searchPage?wd=" data-placeholder="百度开发者搜索">
                                    <label for="m_type-kaifa"><span class="text-muted">开发</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-google"
                                        value="https://www.google.com/search?q=" data-placeholder="谷歌搜索">
                                    <label for="m_type-google"><span class="text-muted">谷歌</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-toutiao"
                                    value="https://so.toutiao.com/search?keyword=" data-placeholder="头条搜索">
                                <label for="m_type-toutiao"><span class="text-muted">头条</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bing"
                                        value="https://cn.bing.com/search?q=" data-placeholder="微软 Bing 搜索">
                                    <label for="m_type-bing"><span class="text-muted">必应</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-fsoufsou"
                                    value="https://fsoufsou.com/search?q=" data-placeholder="国内版 Google 搜索">
                                <label for="m_type-fsoufsou"><span class="text-muted">F 搜</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-duckduckgo"
                                        value="https://duckduckgo.com/?q=" data-placeholder="Duck Duck Go">
                                    <label for="m_type-duckduckgo"><span class="text-muted">DDG</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-wikipedia"
                                    value="https://wikipedia.org/w/index.php?search=" data-placeholder="维基百科">
                                <label for="m_type-wikipedia"><span class="text-muted">维基</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-yandex"
                                    value="https://yandex.com/search/?text=" data-placeholder="Yandex">
                                <label for="m_type-yandex"><span class="text-muted">Yandex</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-b"><span class="type-text text-muted">社区</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-github"
                                    value="https://github.com/search?type=repositories&q=" data-placeholder="GitHub 代码搜索">
                                <label for="m_type-github"><span class="text-muted">GitHub</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-stackoverflow"
                                        value="https://stackoverflow.com/search?q=" data-placeholder="Stack Overflow 搜索">
                                    <label for="m_type-stackoverflow"><span class="text-muted">StackOverflow</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-csdn"
                                        value="https://so.csdn.net/so/search?q=" data-placeholder="成就一亿技术人">
                                    <label for="m_type-csdn"><span class="text-muted">CSDN</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-zhihu"
                                        value="https://www.zhihu.com/search?type=content&q=" data-placeholder="有问题 就会有答案">
                                    <label for="m_type-zhihu"><span class="text-muted">知乎</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-juejin" 
                                    value="https://juejin.cn/search?query=" data-placeholder="稀土掘金开发者社区">
                                    <label for="m_type-juejin"><span class="text-muted">掘金</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-52pojie"
                                    value="https://www.52pojie.cn/search.php?mod=forum&searchid=16407&searchsubmit=yes&kw=" data-placeholder="吾爱破解">
                                <label for="m_type-52pojie"><span class="text-muted">吾爱</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-kanxue"
                                    value="https://bbs.kanxue.com/search.htm?keyword=" data-placeholder="看雪安全社区">
                                <label for="m_type-kanxue"><span class="text-muted">看雪</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-nightteam"
                                    value="https://bbs.nightteam.cn/search.php?mod=forum&searchid=12&searchsubmit=yes&kw=" data-placeholder="夜幕爬虫安全论坛">
                                <label for="m_type-nightteam"><span class="text-muted">夜幕</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-c"><span class="type-text text-muted">API</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-web" value="https://developer.mozilla.org/search?q="
                                        data-placeholder="eg: User-Agent">
                                    <label for="m_type-web"><span class="text-muted">Web API</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-android" value="https://developer.android.com/s/results?q="
                                    data-placeholder="eg: java.lang.System">
                                <label for="m_type-android"><span class="text-muted">Android API</span></label>
                                </li>
                                <li><!--<input hidden="" type="radio" name="type2" id="m_type-adbshell" value="https://adbshell.com/"
                                    data-placeholder=""> -->
                                    <a href="https://adbshell.com/" target="_blank">
                                        <label for="m_type-adbshell"><span class="text-muted">ADB Shell</span></label>
                                    </a>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-quickref" value="https://quickref.me/?q="
                                    data-placeholder="eg: python">
                                <label for="m_type-quickref"><span class="text-muted">QuickRef</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-linuxcool" value="
                                    https://www.linuxcool.com/?s="
                                    data-placeholder="eg: grep">
                                <label for="m_type-linuxcool"><span class="text-muted">Linux 命令</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-d"><span class="type-text text-muted">求职</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-boss"
                                        value="https://www.zhipin.com/web/geek/job?query=" data-placeholder="BOSS直聘">
                                    <label for="m_type-boss"><span class="text-muted">BOSS直聘</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-zhaopin"
                                        value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" data-placeholder="智联招聘">
                                    <label for="m_type-zhaopin"><span class="text-muted">智联招聘</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-51job" value="https://search.51job.com/?"
                                        data-placeholder="前程无忧">
                                    <label for="m_type-51job"><span class="text-muted">前程无忧</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-lagou"
                                        value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网">
                                    <label for="m_type-lagou"><span class="text-muted">拉钩网</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-liepin"
                                        value="https://www.liepin.com/zhaopin/?key=" data-placeholder="猎聘网">
                                    <label for="m_type-liepin"><span class="text-muted">猎聘网</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-iguopin"
                                        value="https://www.iguopin.com/job/list?keyword=" data-placeholder="国聘网">
                                    <label for="m_type-iguopin"><span class="text-muted">国聘网</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-e"><span class="type-text text-muted">购物</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-taobao"
                                        value="https://s.taobao.com/search?q=" data-placeholder="淘宝">
                                    <label for="m_type-taobao"><span class="text-muted">淘宝</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-jd"
                                        value="https://search.jd.com/Search?keyword=" data-placeholder="京东">
                                    <label for="m_type-jd"><span class="text-muted">京东</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-suning"
                                        value="https://search.suning.com/" data-placeholder="苏宁易购">
                                    <label for="m_type-suning"><span class="text-muted">苏宁</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-163" value="https://you.163.com/search?keyword="
                                    data-placeholder="网易严选">
                                    <label for="m_type-163"><span class="text-muted">网易</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-xiaomiyoupin" value="https://www.xiaomiyoupin.com/search?keyword="
                                    data-placeholder="小米有品">
                                    <label for="m_type-xiaomiyoupin"><span class="text-muted">小米</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-vip" value="https://category.vip.com/suggest.php?keyword="
                                        data-placeholder="唯品会">
                                    <label for="m_type-vip"><span class="text-muted">唯品会</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-amazon"
                                        value="https://www.amazon.com/s?k=" data-placeholder="亚马逊">
                                    <label for="m_type-amazon"><span class="text-muted">亚马逊</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-f"><span class="type-text text-muted">娱乐</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-douyin"
                                        value="https://www.douyin.com/search/" data-placeholder="抖音，记录美好生活">
                                    <label for="m_type-douyin"><span class="text-muted">抖音</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-kuaishou"
                                        value="https://www.kuaishou.com/search/video?searchKey=" data-placeholder="快手，拥抱每一种生活">
                                    <label for="m_type-kuaishou"><span class="text-muted">快手</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ixigua"
                                        value="https://www.ixigua.com/search/" data-placeholder="西瓜视频，点亮对生活的好奇心">
                                    <label for="m_type-ixigua"><span class="text-muted">西瓜</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bilibili" value="https://search.bilibili.com/all?keyword="
                                    data-placeholder="哔哩哔哩 (゜-゜)つロ 干杯~-bilibili">
                                    <label for="m_type-bilibili"><span class="text-muted">哔哩哔哩</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-iqiyi" value="https://so.iqiyi.com/so/q_"
                                        data-placeholder="爱奇艺，悦享品质">
                                    <label for="m_type-iqiyi"><span class="text-muted">爱奇艺</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-qq"
                                        value="https://v.qq.com/x/search/?q=" data-placeholder="腾讯视频，不负好时光">
                                    <label for="m_type-qq"><span class="text-muted">腾讯视频</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-mgtv"
                                    value="https://so.mgtv.com/so?k=" data-placeholder="芒果TV，天生青春">
                                <label for="m_type-mgtv"><span class="text-muted">芒果TV</span></label>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="fas fa-times-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
